

* {
  padding: 0;  
  margin: 0;
 }



 body, html {
  
  scroll-snap-type: y proximity; 
 
  height: 125vh;
  color: white;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px #000000;
  
 }


 .logo {
  display: flex;
  justify-content: center;
  align-items: center;
 }

header {
  background: transparent;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  width: 100%;
  /* make nav always on top */
  z-index: 99999; 
  transition: all 0.5s ease-in-out;
  }

.navbar {
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  }

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
 }

/* .navlogo {
  font-size: 1.5rem;

} */
  .navlink, a {
    position: relative;
    color: rgb(217, 210, 210);
    letter-spacing: 0.7px;
    text-decoration: none;
    align-items: center;
    transition: 0.4s ease;
    }


.navlink:hover {
  color: rgb(255, 255, 255);
  }

 a.navlink:after {
    content: "";
    position: absolute;
    background-color: rgb(138, 216, 216);
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
  }

  a.navlink:hover:after {
    width: 100%;
  }

header li {
list-style: none;
}

.hamburger {
  display: none;
  cursor: grab;
  }

.bar {
  display: block;
  width: 22px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: rgb(217, 210, 210);
  border-radius: 1rem;
}



.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px grey);
  background-color: black;
}

.scroll-down #frontbio {
  transform: translate3d(0, -200%, 0);
}
.contentmain {
  
}

.frontsection {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 15rem 5rem;
  background: url(images/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start;
  filter: drop-shadow(0 -10px 20px black);
  
}

#frontbio {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 1.5s ease-in-out;
}

.rule {
 border: 0.01rem solid white;
 opacity: 50%;
}


h1 {
  font-size: 3rem;
  padding: 0.3rem 0;
  letter-spacing: 2px;
}

.subTitle {
  padding: 0.3rem 0;
  letter-spacing: 0.7px;
}

.biopic {
  width:10em;
  padding: 2rem;
  box-shadow: 5px;
}


.section1 {

  height: 100vh;
  color:rgb(0, 0, 0);
  text-shadow: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  scroll-snap-align: start;
  /* margin-right: 2rem; */
  background-image: url(images/sect1bg.jpg);
  background-size: cover;
}

.sect-title {
  
  color: white;
  height: 100vh;
  width: 40vw;
  margin-left: 5rem;
  margin-bottom: 10rem;
  margin-right: 2rem;
  /* background-color: rgb(193, 230, 216, 0.7); */
  background-color: rgba(175, 177, 210, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  /* box-shadow: 0.5px 0.5px 8px black; */
}
  .sect-title h1 {
    padding: 0rem 2rem 0rem 2rem;
    text-shadow: none;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    
  }

  .sect-title p {

    text-shadow: none;
    padding: 2rem;

  }

  .sect-title img {
    padding-bottom: 5rem;
    max-width: 50%;

  }
  

.gal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 2em;
  gap: 1rem;
  
}

.gal-item {

  background-color: rgb(255, 255, 255);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  /* background-image: url(images/fgdfg.jpg); */
  filter: drop-shadow(5px 5px 6px black);
}

.gal-item:hover {

  border-radius: 1rem;
  transform: scale(1.5);
  z-index: 1;

}

.gal-desc {
  padding-top: 2rem;
  
}




.section2 {

  height: 100vh;
  scroll-snap-align: start;
  
}


@media screen and (max-width: 1137px){

  .sect-title h1 {
    font-size: 2rem;
  }
}


@media screen and (max-width: 49rem){
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-225deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(225deg);
  }

  .navmenu {
    position: fixed;
    left: -100%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.915);
    width: 100%;
    text-align: center;
    transition: 0.4s;
    
  }

  .navitem {
    margin: 18px 0;
  }

  .navmenu.active {
    left: 0;
  }

  #frontbio {
    flex-direction: column;
    
  }

  .titletext {
    text-align: center;
  }

  
  .section1 {

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    
  }

  .sect-title h1 {
    padding: 0rem;
    letter-spacing: 0.5rem;
    
  }


  .sect-title {

    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
    width: 70vw;
    padding: 
    
   
    
  }



  .sect-title p{
    padding: 0.8rem;
  }

  .sect-title img {
    padding-bottom: 2rem;
    
   

  }

  .gal-item {

    
    width: 5rem;
    height: 5rem;
    /* border-radius: 0.5rem; */
   
  }

  .gal-desc {

    /* font-size: 0.8rem; */
    padding-bottom: 2rem;
  }

  .gal {
    gap: 0.3rem;
    padding: 1em;
  }
}

